// background url: https://pixabay.com/photos/leaves-autumn-purple-fall-season-1031355/
// linkedin icon: https://www.flaticon.com/free-icon/linkedin_121509#term=linkedin&page=1&position=22
// github icon: https://www.flaticon.com/free-icon/github-logo-silhouette-in-a-square_38401

@import './scss/media-queries';
@import './scss/variables';
@import './scss/header';
@import './scss/navbar';
@import './scss/about';
@import './scss/portfolio';
@import './scss/contact';
@import './scss/footer';

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;

    a {
        text-decoration: none;
        color: $dark-red;
        &.link:hover {
            text-decoration: underline;
        }
    }

    button {
        padding: 2px;
        background: none;
        border: 1px black solid;
        cursor: pointer;
        outline: none;
    }

    .bold {
        font-weight: bold;
    }

    .dark-red {
        color: $dark-red;
    }

    // Section Headings
    .section-heading {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 25px;

        @include small { padding-top: 30px; }
        @include medium { padding-top: 40px; }
        @include extra-large { padding-top: 70px; }

        h2 {
            width: max-content;
            padding-bottom: 1px;
            border-bottom: 2px $dark-red solid;
            color: $dark-red;
            text-transform: uppercase;
            font-weight: bolder;
            font-size: 16px;
            letter-spacing: 1px;

            @include small { font-size: 20px; }
            @include medium { font-size: 22px; }
            @include large { font-size: 24px; }
            @include extra-large { 
                font-size: 26px;
                letter-spacing: 2px;
            }
        }   
    }

    // Scrollbar

    ::-webkit-scrollbar {
        width: 14px;
    }
    
    ::-webkit-scrollbar-track {
        background: black;
    }
    
    ::-webkit-scrollbar-thumb {
        background: $dark-red;
    }
}
