.about {
    //background: rgb(249, 249, 249);

    .about-container {
        width: 100%;
        margin: auto;
        padding-top: $navbar-height;

        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            padding: 20px 0;

            @include small { padding: 30px 0; }
            @include medium { padding: 40px 0; }
            @include large { padding: 50px 0; }
               
            .text {
                width: 75%;

                @include small { width: 60%; }
                @include medium { width: 50%; }
                @include large { width: 35%; }
                @include extra-large { width: 480px; }
                
                p {
                    margin-bottom: 15px;
                    text-align: center;

                    font-size: 14px;
                    line-height: 21px;

                    @include small {
                        font-size: 16px;
                        line-height: 24px;
                    }
                    @include large {
                        font-size: 18px;
                        line-height: 26px;
                    }
                }
            }
        }
    }
}