.contact {
    //background: rgb(249, 249, 249);

    .contact-container {

        .content {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: auto;
            padding: 30px 0 50px 0;

            @include medium {
                width: 450px;
                padding: 15px 0 60px 0;
            }
            
            @include large {
                padding: 50px 0 100px 0;
            }

            .first-p {
                padding-top: 20px;
                color: $dark-red;
                font-size: 12px;

                @include medium {
                    font-size: 14px;
                }

                @include large {
                    font-size: 16px;
                }
            }

            form {
                display: flex;
                flex-direction: column;
                padding-top: 30px;

                input.name, input.email {
                    margin-bottom: 10px;
                    height: 30px;
                    border: 1px $dark-red solid;
                    padding: 1px 10px;
                    font-size: 12px;
                    color: #444;

                    @include medium {
                        font-size: 14px;
                    }

                    @include large {
                        font-size: 16px;
                    }
                }

                textarea.message {
                    margin-bottom: 10px;
                    resize: vertical;
                    border: 1px $dark-red solid;
                    padding: 10px 10px;
                    font-size: 12px;
                    color: #444;

                    @include medium {
                        font-size: 14px;
                    }

                    @include large {
                        font-size: 16px;
                    }
                }

                input.submit {
                    align-self: flex-end;
                    width: 100px;
                    padding: 5px 3px;
                    background: none;
                    border: 1px $dark-red solid;
                    font-size: 12px;
                    color: $dark-red;
                    cursor: pointer;
                    transition: all 500ms;

                    @include medium {
                        font-size: 14px;
                    }

                    @include large {
                        font-size: 16px;
                    }
                }
                    
                input.submit:hover {
                    background: $dark-red;
                    color: white;
                }
            }

            #contact-fail {
                margin-top: 15px;
                font-size: 12px;

                @include medium {
                    font-size: 14px;
                }

                @include large {
                    font-size: 16px;
                }
            }

            .second-p {
                padding-top: 30px;
                color: $dark-red;
                font-size: 12px;

                @include medium {
                    font-size: 14px;
                }

                @include large {
                    font-size: 16px;
                }
            }
        }
    }
}