.footer {
    position: relative;
    height: 150px;
    background: black;

    .social-media {
        position: absolute;
        top: -15px; 
        left: 30px;
        transform: translate(0, 0);
        display: flex;
        flex-direction: row;

        @include small {
            top: -18px;
        }

        @include medium {
            top: -20px;
        }

        @include large {
            top: -24px;
            left: 50%;
            transform: translate(-50%, 0);
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 28px;
            height: 28px;
            margin: 0 7px;
            background: white;
            transition: all 500ms;
            &:hover {
                background: black;
            }

            @include small {
                width: 36px;
                height: 36px;
                margin: 0 10px;
            }

            @include medium {
                width: 40px;
                height: 40px;
                margin: 0 12px;
            }

            @include large {
                width: 48px;
                height: 48px;
                margin: 0 15px;
            }

            img {
                width: 30px;
                height: 30px;

                @include small {
                    width: 38px;
                    height: 38px;
                }

                @include medium {
                    width: 42px;
                    height: 42px;
                }

                @include large {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }

    .arrow-up {
        display: flex;
        justify-content: center;
        position: absolute;
        top: -20px;
        right: 30px;
        width: 40px;
        height: 40px;
        background: $dark-red;
        cursor: pointer;

        @include small {
            width: 50px;
            height: 50px;
            top: -25px;
        }

        @include large {
            top: -30px;
            right: 70px;
            width: 60px;
            height: 60px;
        }

        img {
            width: 14px;
            padding-top: 14px;

            @include small {
                width: 16px;
                padding-top: 16px;
            }

            @include medium {
                width: 20px;
                padding-top: 20px;
            }
        }
    }

    .copyright {
        p {
            padding-top: 70px;
            color: #ddd;
            text-align: center;
            font-size: 12px;
        }
    }
}
