.nav {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: $navbar-height;
    background: black;
    position: absolute;
    bottom: 0 - $navbar-height;
    z-index: 10;
    &.fixed {
        position: fixed;
        top: 0;
    }

    @include medium {
        display: block;
        justify-content: flex-start;
    }

    ul {
        margin-top: 20px;
        margin-right: 0px;
        float: right;

        @include medium {
            margin-right: 40px;
        }

        li {
            display: inline-block;
            margin: 0 7px;
            color: white;
            text-transform: uppercase;
            cursor: pointer;
            font-weight: lighter;
            list-style-type: none;
            transition: 500ms;
            font-size: 14px;
            &:hover {
                color: $dark-red;
            }

            &:last-child {
                margin-right: 0;
            }

            &.active {
                color: $dark-red;
            }

            @include small {
                margin: 0 10px;
                font-size: 16px;
            }
        }
    }
}
